@using Projecthunk.Models
@{
    Database1Entities db = new Database1Entities();
    ViewBag.Title = "ProjectHunk | Projects";
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>ProjectVault | Projects</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="~/Content/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/Content/line-icons.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/Content/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/Content/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/Content/theme-aspirin.css" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="~/Scripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  @*<div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>*@
			</div>
    	</div>
				
		<div class="nav-container">
			<nav class="top-bar">
				<div class="container">
				
					<div class="row utility-menu">
						<div class="col-sm-12">
							<div class="utility-inner clearfix">
								
							
								<div class="pull-right">
                                    @{
                                                    int myid = Convert.ToInt32(Session["uid"]);
                                                    string name = "";
                                                    var obj = from i in db.Users
                                                              where i.U_Id == myid
                                                              select i;

                                                    foreach (var f in obj)
                                                    {
                                                        name = f.U_Name;
                                                    }
                                                    <a href="~/Home/editinfo/@myid" class="btn btn-primary login-button btn-xs">@name</a>
                                                    <a href="~/Home/logout" class="btn btn-primary login-button btn-xs">Logout</a>
                                    }
								</div>
							</div>
						</div>
					</div><!--end of row-->
				
				
					<div class="row nav-menu">
						<div class="col-sm-3 col-md-2 columns">
							<a href="~/Home/home">
								<img class="logo logo-light" alt="Logo" src="~/img/logo-light.png">
								<img class="logo logo-dark" alt="Logo" src="~/img/logo-light.png">
							</a>
						</div>
					@{
    int id1 = 1, id2 = 2, id3 = 3, id4 = 4, id5 = 5;
}
						<div class="col-sm-9 col-md-10 columns">
                            <ul class="menu">
                                <li><a href="~/Home/home"><font size="4">Home</font></a></li>

                                <li class="has-dropdown">
                                    <a href="#"><font size="4">Projects</font></a>
                                    <ul class="subnav">
                                        <li><a href="~/Home/project/@id1">Desktop apps</a></li>
                                        <li><a href="~/Home/project/@id2">Websites</a></li>
                                        <li><a href="~/Home/project/@id3">Mechanical</a></li>
                                        <li><a href="~/Home/project/@id4">Chemical</a></li>
                                        <li><a href="~/Home/project/@id5">Fashion Desiging</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/Home/addpro"><font size="4">Add project</font></a></li>
                                <li><a href="~/Home/myproject"><font size="4">My Projects</font></a></li>
                                <li><a href="~/Home/contact"><font size="4">Contact</font></a></li>
                            </ul>
						</div>
					</div><!--end of row-->
					
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div><!--end of container-->
			</nav>
		</div>
		<div class="main-container">
			<section class="no-pad-bottom projects-gallery">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1>Our Work</h1>
							
						</div>
					</div><!--end of row-->
					
				</div><!--end of container-->
				
				<div class="projects-wrapper clearfix">
					
					
					<div class="container">
						<div class="projects-container column-projects">
					   
                                @{
                                    int id = ViewBag.var;
                                    if(id == 1)
                                    {
                                        <p class="lead"><h1>!!*** Desktop Application ***!!</h1></p>
                                        var a = from s in db.Projects
                                                where s.P_Type == "desktop"
                                                orderby s.P_Id descending
                                                select s;
                                        foreach (var b in a)
                                        {
                                            string path = "";
                                            string email = "";
                                            var c = from i in db.Images
                                                    where i.P_Id == b.P_Id
                                                    select i.U_path;
                                            var f = from i in db.Users
                                                    where i.U_Id == b.U_Id
                                                    select i.U_Email;
                                            foreach (var d in f)
                                            {
                                                email = d.ToString();
                                                break;
                                            }
                                            foreach(var d in c)
                                            {
                                                path = d.ToString();
                                                break;
                                            }
                                            
                                            <div class="col-md-4 col-sm-6 project development image-holder">
								                <div class="background-image-holder">
								                    <img class="background-image" alt="Background Image" src="@path">
								                </div>
								                <div class="hover-state">
									                <div class="align-vertical">
										                <h3 class="text-white"><strong>@b.P_Name</strong><br />by</h3>
                                                        <h3 class="text-white">@email</h3>
                                                        <a href="~/Home/project_desc/@b.P_Id" class="btn btn-primary btn-white">See Project</a>
									                </div>
								                </div>
							                </div>
                                        }
                                    }
                                    else if(id == 2)
                                    {
                                        <p class="lead"><h1>!!*** Websites ***!!</h1></p>
                                        var a = from s in db.Projects
                                                where s.P_Type == "web"
                                                orderby s.P_Id descending
                                                select s;
                                        foreach (var b in a)
                                        {
                                            string path = "";
                                            string email = "";
                                            var c = from i in db.Images
                                                    where i.P_Id == b.P_Id
                                                    select i.U_path;
                                            var f = from i in db.Users
                                                    where i.U_Id == b.U_Id
                                                    select i.U_Email;
                                            foreach (var d in f)
                                            {
                                                email = d.ToString();
                                                break;
                                            }
                                            foreach (var d in c)
                                            {
                                                path = d.ToString();
                                                break;
                                            }
                                            <div class="col-md-4 col-sm-6 project development image-holder">
								                <div class="background-image-holder">
								                    <img class="background-image" alt="Background Image" src="@path">
								                </div>
								                <div class="hover-state">
                                                    <div class="align-vertical">
                                                        <h3 class="text-white"><strong>@b.P_Name</strong><br />by</h3>
                                                        <h3 class="text-white">@email</h3>
                                                        <a href="~/Home/project_desc/@b.P_Id" class="btn btn-primary btn-white">See Project</a>
                                                    </div>
								                </div>
							                </div>
                                        }
                                    }
                                    else if(id == 3)
                                    {
                                        <p class="lead"><h1>!!*** Machenical Projects ***!!</h1></p>
                                        var a = from s in db.Projects
                                                where s.P_Type == "mcp"
                                                orderby s.P_Id descending
                                                select s;
                                        foreach (var b in a)
                                        {
                                            string path = "";
                                            string email = "";
                                            var c = from i in db.Images
                                                    where i.P_Id == b.P_Id
                                                    select i.U_path;
                                            var f = from i in db.Users
                                                    where i.U_Id == b.U_Id
                                                    select i.U_Email;
                                            foreach (var d in f)
                                            {
                                                email = d.ToString();
                                                break;
                                            }
                                            foreach (var d in c)
                                            {
                                                path = d.ToString();
                                                break;
                                            }
                                            <div class="col-md-4 col-sm-6 project development image-holder">
								                <div class="background-image-holder">
								                    <img class="background-image" alt="Background Image" src="@path">
								                </div>
								                <div class="hover-state">
                                                    <div class="align-vertical">
                                                        <h3 class="text-white"><strong>@b.P_Name</strong><br />by</h3>
                                                        <h3 class="text-white">@email</h3>
                                                        <a href="~/Home/project_desc/@b.P_Id" class="btn btn-primary btn-white">See Project</a>
                                                    </div>
								                </div>
							                </div>
                                        }
                                    } 
                                    else if(id == 4)
                                    {
                                        <p class="lead"><h1>!!*** Chemical projects ***!!</h1></p>
                                        var a = from s in db.Projects
                                                where s.P_Type == "chp"
                                                orderby s.P_Id descending
                                                select s;
                                        foreach (var b in a)
                                        {
                                            string path = "";
                                            string email = "";
                                            var c = from i in db.Images
                                                    where i.P_Id == b.P_Id
                                                    select i.U_path;
                                            var f = from i in db.Users
                                                    where i.U_Id == b.U_Id
                                                    select i.U_Email;
                                            foreach (var d in f)
                                            {
                                                email = d.ToString();
                                                break;
                                            }
                                            foreach (var d in c)
                                            {
                                                path = d.ToString();
                                                break;
                                            }
                                            <div class="col-md-4 col-sm-6 project development image-holder">
								                <div class="background-image-holder">
								                    <img class="background-image" alt="Background Image" src="@path">
								                </div>
								                <div class="hover-state">
                                                    <div class="align-vertical">
                                                        <h3 class="text-white"><strong>@b.P_Name</strong><br />by</h3>
                                                        <h3 class="text-white">@email</h3>
                                                        <a href="~/Home/project_desc/@b.P_Id" class="btn btn-primary btn-white">See Project</a>
                                                    </div>
								                </div>
							                </div>
                                        }
                                    } 
                                    else if(id == 5)
                                    {
                                        <p class="lead"><h1>!!*** Fashion Designing ***!!</h1></p>
                                        var a = from s in db.Projects
                                                where s.P_Type == "fp"
                                                orderby s.P_Id descending
                                                select s;
                                        foreach (var b in a)
                                        {
                                            string path = "";
                                            string email = "";
                                            var c = from i in db.Images
                                                    where i.P_Id == b.P_Id
                                                    select i.U_path;
                                            var f = from i in db.Users
                                                    where i.U_Id == b.U_Id
                                                    select i.U_Email;
                                            foreach (var d in f)
                                            {
                                                email = d.ToString();
                                                break;
                                            }
                                            foreach (var d in c)
                                            {
                                                path = d.ToString();
                                                break;
                                            }
                                            <div class="col-md-4 col-sm-6 project development image-holder">
								                <div class="background-image-holder">
								                    <img class="background-image" alt="Background Image" src="@path">
								                </div>
								                <div class="hover-state">
                                                    <div class="align-vertical">
                                                        <h3 class="text-white"><strong>@b.P_Name</strong><br />by</h3>
                                                        <h3 class="text-white">@email</h3>
                                                        <a href="~/Home/project_desc/@b.P_Id" class="btn btn-primary btn-white">See Project</a>
                                                    </div>
								                </div>
							                </div>
                                        }
                                    }                             
                                }
                        </div><!--end of projects-container-->
					</div><!--end of container-->
					
				</div><!--end of projects wrapper-->
				
			</section>
		</div>
		<div class="footer-container">
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white">© 2016 ProjectVault.</span>
							<span class="text-white"><a href="#">hello@pivot.net</a></span>
							<span class="text-white">+92 335 401 7277</span>
							<span class="text-white">300 Collins St. Melbourne 3000</span>
						</div>
					</div><!--end for row-->
				</div><!--end of container-->
				
				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_mail"></i>
						<a href="~/Home/contact" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
					</div>
				</div>
			</footer>
		</div>
				
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery.plugin.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.flexslider-min.js"></script>
        <script src="~/Scripts/smooth-scroll.min.js"></script>
        <script src="~/Scripts/skrollr.min.js"></script>
        <script src="~/Scripts/spectragram.min.js"></script>
        <script src="~/Scripts/scrollReveal.min.js"></script>
        <script src="~/Scripts/isotope.min.js"></script>
        <script src="~/Scripts/twitterFetcher_v10_min.js"></script>
        <script src="~/Scripts/lightbox.min.js"></script>
        <script src="~/Scripts/jquery.countdown.min.js"></script>
        <script src="~/Scripts/scripts.js"></script>
    </body>
</html>
				